---
layout: apache
title: Index of /book

backlink: "/"
titlelink: "/"
---

<tr><td valign="top"><img src="/assets/icons/folder.gif" alt="[DIR]"></td><td><a href="jpgs/">jpgs  </a></td><td align="right">2016-01-24 22:55  </td><td align="right">  - </td><td>&nbsp;</td></tr>
{% for entry in site.filepages %}{% if entry.list-under == "book" and entry.hide != 'true' %}
  <tr><td valign="top"><img src="/assets/icons/{{ entry.icon }}" alt=""></td><td><a href="{{ entry.url }}">{{ entry.title }}  </a></td><td align="right">{{ entry.modified-date }}  </td><td align="right">{{ entry.filesize }}  </td><td>&nbsp;</td></tr>
{% endif %}{% endfor %}
